body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh;
    font-family: 'IBM Plex Mono', monospace;
    /* Full viewport height */
}

.floating-text {
    position: absolute;
    color: white;
    font-size: 2vh;
    /* font-weight: bold; */
    text-shadow: 2px 2px 2px black;
    width: 20%;
    /* Control the width of the text container */
    word-wrap: break-word;
    font-family: "IBM Plex Mono", monospace;
    /* Ensure text wraps within the width */
}

#left-text {
    top: 20%;
    /* Position from the top */
    left: 5%;
    /* Position from the left */
    text-align: left;
}

#right-text {
    top: 20%;
    /* Position from the top */
    right: 5%;
    /* Position from the right */
    text-align: right;
}

#gui-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}