/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
}

/* Hero Section */
.hero {
    text-align: center;
    width: 100%;
}

.hero .content h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}

.hero .content h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
    color: #d1d1d1;
}

/* Logos Section */
.logos {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
    gap: 1.5rem;
}

.logos .logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.logos .logo img {
    max-width: 100%;
    max-height: 100%;
}

.audio-button {
    padding: 10px 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.audio-button:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
}

.audio-button:active {
    background: rgba(255, 255, 255, 0.6);
    color: #000;
}