@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
    font-family: 'IBM Plex Mono', monospace;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
}

.column {
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column:first-child {
    width: 50%;
}

.column:nth-child(2) {
    width: 25%;
}

.column:last-child {
    width: 25%;
    color: white;
}

.image {
    width: 100%;
    border-radius: 15px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bullet-points {
    font-size: 18px;
}